/* body {
  background-image: url("../img/tallRainUmbrella.jpg");
  background-color: #000046;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: top center;
  overflow: hidden;
} */

html {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

/* #imageContainer {
  background-image: url("../img/tallRainUmbrella.jpg");
  background-color: #000046;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: top center;
} */

#sound {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,64,150,1) 100%);
}

/* #sound > div > .dropdown */
/* #sound > h2, #sound > div > h3, #sound > div > h4, #sound > div > label {
  color: lightblue;
} */

#lights {
  background: rgb(2,0,36);
  /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 9%, rgba(39,9,121,1) 45%, rgba(67,0,150,1) 100%);*/
  background: linear-gradient(#020024 0%, #0a143f 10%, #322fb3 40%, #451ab3 60%, #4e008a 80%, #a32942 100%);
  /*Bright Fuchsia: #FC466B*/
}

#lights > h2, #lights > h3, #lights > label {
  color: lightblue;
}

.layerHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 3ch;
  padding: 3ch 0ch 3ch;
  margin: 0 auto;
  color: lightblue;
  background: linear-gradient(#02002400 0%, #0200247F 20%, #020024BF 30%, #020024BF 70%, #0200247F 80%, #02002400 100%);
  pointer-events: none;
}

.layerCollapse {
  position: absolute;
  left: 1ch;
  color: lightblue;
  /* background-color: #0000003f; */
  background-color: transparent;
  /* border-radius: 35%; */
  border-style: none;
  pointer-events: auto; 
}

.layerRefresh {
  color: lightblue;
  /* background-color: #0000003f; */
  background-color: transparent;
  border-radius: 25%;
  border-style: none;
}

.layerArea {
  padding-bottom: 1vh;
  border-bottom: 3px solid #0200247F;
  border-bottom-style: dotted ;
}

.layerArea > select {
  margin-bottom: 1ch;
}

i.fa-angle-down, i.fa-angle-up {
  font-size: 2em;
}

input[type=tel]:invalid {
  background-color: pink;
}

.clearAll {
  display: inline-block;
  padding: 1ch 2ch 1ch 2ch;
  margin-top: 2ch;
  color: rgb(135, 165, 175);
  background: linear-gradient(#02002400 0%, #02002440 20%, #0200247F 40%, #0200247F 60%, #02002440 80%, #02002400 100%);
  border-radius: 45%;
  border-color: rgba(112, 128, 144, 0.5);
  border-style: solid;
  border-width: thin;
}

#controllerButton > i {
  font-size: 75vw;
  background: radial-gradient(circle, #00c267e0 0%, #0022b8 35%, #0700b8 40%, #00c267e0 55%, #0700b8 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lightsContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  top: -3ch;
  /* border-style: solid;
  border-color: white; */
}

.popoutContainer {
  position: absolute;
  top: 2ch;
  right: 0;
  width: 50%;
}

.popoutContents::before {
    content: "";
    background: linear-gradient(rgba(10, 10, 150, 0.5) 50%, transparent 50%);
    height: 4.5ch;
    width: 4.5ch;
    border-radius: 50%;
    position: absolute;
    top: -2.25ch;
    right: 0;
}

.popoutContents {
  background: rgba(10, 10, 150, 0.5);
  border-radius: 10px 0 10px 10px;
  position: relative;
  z-index: 3;
  padding: 0 10% 5% 10%;
}

.popoutContents > input {
  display: block;
  width: 100%;
}

.lightsButton {
  background: transparent;
  border-style: none;
  /* border-radius: 50%; */
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 5ch;
  position: relative;
}

.lightsButton > i {
  font-size: 10vw;
  color: lightblue;
  display: block;
  /* color: rgb(77, 94, 100); */
}

.darkenedBackground {
  position:   fixed; 
  top:        0; 
  left:       0; 
  width:      100%;
  height:     100%; 
  z-index:    2;
  background: black; 
  opacity:    0.5;
}

.lightningButton {
  background: transparent;
  border-style: none;
  /* border-radius: 50%; */
  display: block;
  margin-left: auto;
  margin-right: 10vw;
  width: 5ch;
  position: absolute;
  right: -10vw;
}

.lightningButton > i {
  font-size: 10vw;
  color: lightblue;
  display: block;
  /* color: rgb(77, 94, 100); */
}

#sound > * {
  color: lightblue;
}