.timePicker::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  margin: 0; 
 }

.minuteIn {
  width: 2em;
}
.hourIn {
  width: 2em;
}
.remainingTime {
  color: rgb(145, 94, 192);
}

input[type=number]:invalid {
  background-color: pink;
}

input[type=number]:valid {
  background-color: #ddffdd;
}